html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fed049;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.choice {
  background-color: #2b3a55;
  width: 20%;
  height: 20vh;
  cursor: pointer;
  font-size: 26px;
  color: #f3efe0;
  border-radius: 10px;
  border-color: #1c315e;
  text-align: center;
  transition: 0.07s ease-in;
}

.choice:hover {
  background-color: #1c315e;
  color: #fcffe7;
  transform: scale(1.1);
}

@media (max-width: 888px) {
  .choice {
    font-size: 14px;
  }
}
@media (max-width: 555px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .choice {
    font-size: 10px;
  }
}
